body {
    background-color: #F6F6ED;
    font-family: 'Tilt Warp', cursive;
    margin: 0;
    padding: 0.5rem;
    scroll-behavior: smooth;
}
.container {
    font-size: 1rem;
    max-width: 20rem;
    margin: 0 auto;
    overflow: hidden;
}

.add-icon {
    display: none;
    background: no-repeat url("./img/add.svg");
    width: 1.2rem;
    height: 1.2rem;
}

.cancel-icon {
    display: none;
    background: no-repeat url("./img/cancel.svg");
    width: 1.2rem;
    height: 1.2rem;
}

.item {
    border-top: solid 2px rgba(220, 220, 220, .5);
    color: blue;
}

.item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-content {
    display: none;
}
.item-input {
    display: none;
}
.item-label {
    display: block;
    padding: 1rem 0;
    cursor: pointer;
}
.item-input:checked ~ .item-content {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

.item-input:checked ~ .item-name {
    color: black;
}

.item-content img {
    transition: all .2s ease-in-out;
}
.item-input:checked ~ .item-content img {
    width: 100%;
    max-width: 36rem;
    height: auto;
    transform: scale(1);
}

.item-input:active+label {
    color: rgba(0,0,255, 0.5);
}
.item-input:active+label ~ .item-content {
    opacity: 0.5;
}

@media (hover : hover) {
    .accordion:hover .item-label {
        color: black;
        transition-duration: 0.5s;
    }
    .accordion:hover .item-input:checked ~ .item-name .cancel-icon {
        display: block;
        transition-duration: 0.5s;
    }

    .accordion:hover .add-icon {
        display: block;
        transition-duration: 0.5s;
    }

    .accordion:hover .item-input:checked ~ .item-name .add-icon {
        display: none;
    }
}

@media screen and (min-width: 820px) {
    .container {
        max-width: 40rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 60rem;
        font-size: 1.3rem;
    }
}
